<header>
  <nav class="line justify-end container">
    <a href="/" class="nav__link">Tarjetas</a>
    <a href="/tips" class="nav__link">Tips</a>
    <a href="/ingredientes" class="nav__link">Ingredientes</a>
  </nav>
</header>