<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', { title: 'Coma bien' }) -%>
  <link rel="stylesheet" href="/css/cards.css">
</head>
<body>
  <div id="wrapper" class="column">
    <%- include('../partials/header') -%>
    <main class="item-fill">
      <div class="container">
        <h1>Tarjetas</h1>
      </div>
    </main>
    <%- include('../partials/footer') -%>
  </div>
</body>
</html>